<!DOCTYPE html>
<html>
<head>
  <title>Media library tools</title>
</head>
<body>
<p><a href="/read-meta">Read meta</a></p>
<p><a href="/dups">Manual duplicates remove</a></p>
<p><a href="/phashes">Phashes</a></p>
</body>
</html>
